.link {
    color: #1A1A1A;
    padding: 10px;
    font-size: 20px;
}

.link:hover {
    background-color: #1A1A1A;
    color: #ffd1dc;
    text-decoration: none;
    height: 100%;
}

#nav-bar {
    margin-bottom: 30px !important;
}